<form class="clr-form">
  <div class="clr-form-control">
    
    <!-- First Name -->
    <label for="fName" class="clr-control-label">First Name</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input type="text" id="fName" placeholder="John" class="clr-input">
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
    </div>
    <br>
    <!-- Last Name -->
    <label for="fName" class="clr-control-label">Last Name</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input type="text" id="lName" placeholder="Doe" class="clr-input">
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
    </div>

  </div>
</form>